body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #7c92ab;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
}

h1 {
  color: #8aa4c2;
  font-size: 42px;
  margin-bottom: 5px;
}

.subtitle {
  color: #a1b1c7;
  margin-bottom: 40px;
}

.box {
  border: 2px solid #a1b1c7;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  margin: 0 auto;
}

input {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #a1b1c7;
  font-size: 14px;
}

button {
  width: 93%;
  padding: 12px;
  background-color: #8aa4c2;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #7592b5;
}
